<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>	
<meta charset="UTF-8">
<title>list</title>

</head>
<style>
	.dd{
		width: 500px;
		height: 1000px;
		margin: 0 auto;
		 text-align: center;
	}
	
	h1{
		 text-align: center;
		 color: blue;
	}
</style>
<body>
	<table class = "dd">
	<h1>QnA 게시판</h1>
		<tr>
			<th>글번호</th>
			<th>제목</th>
			<th>작성자</th>
			<th>작성날짜</th>
			<th>조회수</th>
		</tr>
		<tr th:each="qna: ${qnaList}">
			<td th:text="${qna.id}"></td>
			<td><a th:href="@{|/qna/${qna.id}|}" th:text="${qna.qnaTitle}"></a></td>
			<td th:text="${qna.qnaWriter}"></td>
			<td
				th:text="*{#temporals.format(qna.qnaRegDate, 'MM-dd HH:mm:ss')}"></td>
			<td th:text="${qna.qnaHits}"></td>
		</tr>
	</table>

</body>

</html>