<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">


<!-- head -->
<th:block th:replace="fragment/config :: configFragment">
    <title th:replace="${title}"></title>
</th:block>
<!-- head 영역 끝 -->

<body class="animsition">

<!-- header -->
<th:block th:replace="fragment/header :: headerFragment"></th:block>
<!-- header 끝 -->

<!-- sidebar -->
<th:block th:replace="fragments/sidebar :: sidebarFragment"></th:block>
<!-- sidebar 끝 -->

<!-- content -->
<th:block layout:fragment="content"></th:block>
<!-- content 끝 -->

<!-- footer -->
<th:block th:replace="fragment/footer :: footerFragment"></th:block>
<!-- footer 끝-->


</body>
</html>