<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Review List</title>
</head>
<body>
    <h1>Review List</h1>

    <table>
        <thead>
            <tr>
                <th>Title</th>
                <th>Rating</th>
                <th>작성자</th>
                <th>Date</th>
               
            </tr>
        </thead>
        <tbody>
            <tr th:each="review : ${reviews}">
                <td th:text="${review.title}"></td>
                <td th:text="${review.rating}"></td>
                <td th:text="${review.writer}"></td>
                <td th:text="${review.regDate}"></td>
               <!--  <td><a th:href="@{'/review/view/' + ${review.id}}">View</a></td> -->
            </tr>
        </tbody>
    </table>

    <a href="/review/write">Write a Review</a>
</body>
</html>
