<!DOCTYPE html>
<html lagn="ko" xmlns:th="http://www.thymeleaf.org">

<!-- 공통으로 쓰이는 script 파일을넣는다.-->
<th:block th:fragment="scriptFragment">


  <script th:src="@{/vendor/jquery/jquery-3.2.1.min.js}"></script>
  <script th:src="@{/vendor/animsition/js/animsition.min.js}"></script>
  <script th:src="@{/vendor/bootstrap/js/popper.js}"></script>
  <script th:src="@{/vendor/bootstrap/js/bootstrap.min.js}"></script>
  <script th:src="@{/vendor/select2/select2.min.js}"></script>
  <script th:src="@{/vendor/daterangepicker/moment.min.js}"></script>
  <script th:src="@{/vendor/daterangepicker/daterangepicker.js}"></script>
  <script th:src="@{/vendor/slick/slick.min.js}"></script>
  <script th:src="@{/js/slick-custom.js}"></script>
  <script th:src="@{/vendor/parallax100/parallax100.js}"></script>
  <script th:src="@{/vendor/MagnificPopup/jquery.magnific-popup.min.js}"></script>
  <script th:src="@{/vendor/isotope/isotope.pkgd.min.js}"></script>
  <script th:src="@{/vendor/sweetalert/sweetalert.min.js}"></script>
  <script th:src="@{/vendor/perfect-scrollbar/perfect-scrollbar.min.js}"></script>
  <script th:src="@{/vendor/countdown/jquery.countdown.min.js}"></script>
  <script th:src="@{/js/main.js}"></script>


</th:block>
</html>