<!--===============================================================================================-->
<script th:src="@{/static/vendor/jquery/jquery-3.2.1.min.js}"></script>
<!--===============================================================================================-->
<script th:src="@{/static/vendor/animsition/js/animsition.min.js}"></script>
<!--===============================================================================================-->
<script th:src="@{/static/vendor/bootstrap/js/popper.js}"></script>
<script th:src="@{/static/vendor/bootstrap/js/bootstrap.min.js}"></script>
<!--===============================================================================================-->
<script th:src="@{/static/vendor/select2/select2.min.js}"></script>

<script th:inline="javascript">
    $(".js-select2").each(function () {     //상품의 옵션선택창 --> 드롭다운으로 나옴.
        $(this).select2({
            minimumResultsForSearch: 20,
            dropdownParent: $(this).next('.dropDownSelect2')
        });
    })
</script>
<!--===============================================================================================-->
<script th:src="@{/static/vendor/daterangepicker/moment.min.js}"></script>
<script th:src="@{/static/vendor/daterangepicker/daterangepicker.js}"></script>
<!--===============================================================================================-->
<script th:src="@{/static/vendor/slick/slick.min.js}"></script>
<script th:src="@{/static/js/slick-custom.js}"></script>
<!--===============================================================================================-->
<script th:src="@{/static/vendor/parallax100/parallax100.js}"></script>
<script>
    $('.parallax100').parallax100();
</script>
<!--===============================================================================================-->
<script th:src="@{/static/vendor/MagnificPopup/jquery.magnific-popup.min.js}"></script>

<script th:inline="javascript">
    /*<![CDATA[*/
    $('.gallery-lb').each(function () { //팝업창 -> 모든 갤러리(상품선택창)
        $(this).magnificPopup({
            delegate: 'a', // 선택한 아이템
            type: 'image',
            gallery: {
                enabled: true
            },
            mainClass: 'mfp-fade'
        });
    });
    /*]]>*/
</script>
<!--===============================================================================================-->
<script th:src="@{/static/vendor/isotope/isotope.pkgd.min.js}"></script>
<!--===============================================================================================-->
<script th:src="@{/static/vendor/sweetalert/sweetalert.min.js}"></script>

<script th:inline="javascript">
    // [CDATA 를 사용해서 자바스크립트에서 모델에서 지정한 값 호출 실시 : 주석까지 필수 등록]


    /*<![CDATA[*/
    $('.js-addwish-b2').on('click', function (e) {
        e.preventDefault();
    });

    $('.js-addwish-b2').each(function () {
        var nameProduct = $(this).parent().parent().find('.js-name-b2').html();
        $(this).on('click', function () {
            swal(nameProduct, "위시리스트에 추가되었습니다 ! ", "success");

            $(this).addClass('js-addedwish-b2');
            $(this).off('click');
        });
    });

    $('.js-addwish-detail').each(function () {
        var nameProduct = $(this).parent().parent().parent().find('.js-name-detail').html();

        $(this).on('click', function () {
            swal(nameProduct, "위시리스트에서 제거되었습니다 ! ", "success");

            $(this).addClass('js-addedwish-detail');
            $(this).off('click');
        });
    });


    /*---------------------------------------------*/

    $('.js-addcart-detail').each(function () {
        var nameProduct = $(this).parent().parent().parent().parent().find('.js-name-detail').html();
        $(this).on('click', function () {
            swal(nameProduct, "장바구니에 담겼습니다 !", "success");
        });
    });

    /*]]>*/
</script>
<!--===============================================================================================-->
<script th:src="@{/static/vendor/perfect-scrollbar/perfect-scrollbar.min.js}"></script>

<script th:inline="javascript">
    $('.js-pscroll').each(function () {
        $(this).css('position', 'relative');
        $(this).css('overflow', 'hidden');
        var ps = new PerfectScrollbar(this, {
            wheelSpeed: 1,
            scrollingThreshold: 1000,
            wheelPropagation: false,
        });

        $(window).on('resize', function () {
            ps.update();
        })
    });
</script>
<!--===============================================================================================-->
<script th:src="@{/static/js/main.js}"></script>